.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  gap: 20px;
  height: auto;
  width: 470px;
  max-width: 100vw;
  margin-bottom: 12px;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 4px;

  p {
    width: 270px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.avatar {
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  height: 100%;
  width: 150px;
}

.field-name {
  font-weight: bold;
}

.preview-button {
  color: #fff;
  background-color: #4068b1;
  border-radius: 4px;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}
